<p id="notice"><%= notice %></p>

<h1>Tweets</h1>
<br>
<button type="button" class="btn btn-secondary mb-5"><%= link_to 'New Tweet', new_tweet_path %></button>
<br>

  <div class="row">
    <% @tweets.each do |tweet| %>
    <div class="col-sm-4">
    <div class="card border-secondary mb-3" style="max-width: 20rem;">
  <div class="card-header"><strong><%= tweet.title %></strong></div>
  <div class="card-body">
    <p class="card-text"><%= tweet.content %></p>
  </div>
</div>
     
       
        
        <%= link_to 'Show', tweet %>
        <%= link_to 'Edit', edit_tweet_path(tweet) %>
        <%= link_to 'Destroy', tweet, method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
    <% end %>
  

</div>



